#!/bin/bash
apt update -y
apt install -y nginx
echo "<html><head><title>Instance Info</title></head><body><h1>This is ${SERVER}</h1></body></html>" > /var/www/html/index.html
systemctl start nginx
systemctl enable nginx